# Uselss macOS File
.DS_Store

# Editor Configurations
.idea
.vscode

# Excluding all text files except for dependencies list
*.txt

# Virtual Environments
venv/

# Cache directory
__pycache__

# Compiled binaries and build assets
build/
dist/
steamcheck.egg-info